
# compiled output
/backend/dist
/frontend/dist
=======

# compiled output
/dist

/dist-server
/tmp
/out-tsc

# dependencies
/backend/node_modules
/frontend/node_modules
=======
/node_modules
/$HOME

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
