<nav class="navbar navbar-expand-lg navbar-light " style="padding-top: 10px">
  <div class="collapse navbar-collapse" id="nav-menu">
    <a class="navbar-brand" href="#">Super-Sæx</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li routerLinkActive="active" class="nav-item active">
        <a routerLink="calendar" class="nav-link" >Calendar  <span class="sr-only">(current)</span></a>
      </li>
      <li routerLinkActive="active" class="nav-item">
        <a routerLink="admin" class="nav-link" >Admin</a>
      </li>
    </ul>
    <div class="inline my-2 my-lg-0">
      <button class="btn btn-md btn-outline-primary" (click)="toggleLogin(content)">{{loginBtnText}}</button>
    </div>
  </div>
</nav>

<ng-template #content let-c="close" let-d="dismiss" let-l="submit">
  <div class="modal-header">
    <h4 class="modal-title">Log In</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="input-group ">
      <input type="text" id="userinput" class="form-control" placeholder="Username">
      <input type="password" id="passinput" class="form-control" placeholder="Password">
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    <button type="button" class="btn btn-outline-primary" (click)="c('Login')">Log In</button>
  </div>
</ng-template>

<hr>

<router-outlet></router-outlet>
