<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="card">
      <div class="card-head">
      </div>
      <div class="card-body">
        <ngb-tabset>
          <ngb-tab>
            <ng-template ngbTabTitle>Manage<b> Employees</b></ng-template>
            <ng-template ngbTabContent>
              <div class="row" style="padding-top: 15px">
                <div class="col-md-4">
                  <div class="list-group">
                    <button type="button" *ngFor="let employee of employees"
                      (click)="onSelect(employee)"
                      [ngClass]="{'active': selectedEmployee==employee }"
                      class="list-group-item list-group-item-action">
                      {{ employee.firstname }}
                      {{ employee.lastname }}
                    </button>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text inputtext"  id="inputGroup-sizing-default">ID</span>
                    </div>
                    <input type="text" readonly [value]="selectedEmployee.id" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                    <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text inputtext" id="inputGroup-sizing-default">First Name</span>
                      </div>
                      <input type="text" [value]="selectedEmployee.firstname" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text inputtext" id="inputGroup-sizing-default">Last Name</span>
                    </div>
                    <input type="text"  [value]="selectedEmployee.lastname" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
                  <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text inputtext" id="inputGroup-sizing-default">Telefon</span>
                    </div>
                    <input type="text"  [value]="selectedEmployee.telefon" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>

                  <div class="row" style="padding-top: 10px">
                    <div class="col-md-3"></div>
                    <div class="col-md-8 text-right">
                      <!--Delete should pref trigger a modal with warning and confirmation-->
                      <button type="button" (click)="delete(employees, selectedEmployee)" class="btn btn-danger btn">Délét</button>
                      <button type="button" (click)="update(employees, selectedEmployee)" class="btn btn-secondary btn">Update</button>
                      <!--add should pref trigger a modal with input fields-->
                      <button type="button" (click)="open(content)" class="btn btn-primary btn">Create new</button>
                    </div>
                    <div class="col-md-1">
                    </div>
                  </div>
                </div>
              </div>


            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Manage<b> Customers</b></ng-template>
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR.
                Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical
                culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle>Manage<b> Treatments</b></ng-template>
            <ng-template ngbTabContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra
                et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis.
                Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </ngb-tab>

          <ngb-tab>
            <ng-template ngbTabTitle>Manage<b> Events</b></ng-template>
            <ng-template ngbTabContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio. Duis pharetra
                et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis.
                Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar feugiat.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>

</div>

<!--modal with add-input fields-->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add new Employee</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="modal-body">
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text inputtext"  id="inputGroup-sizing-default">ID</span>
        </div>
        <input type="text" [(ngModel)]="newUser.id" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text inputtext" id="inputGroup-sizing-default">First Name</span>
          </div>
          <input type="text" [(ngModel)]="newUser.firstname" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text inputtext" id="inputGroup-sizing-default">Last Name</span>
        </div>
        <input type="text" [(ngModel)]="newUser.lastname"  class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text inputtext" id="inputGroup-sizing-default">Telefon</span>
        </div>
        <input type="text" [(ngModel)]="newUser.telefon" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" (click)="c('Close click');createEmployee();" class="btn btn-primary btn">Add</button>
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>

</ng-template>
